<div class="img-overlay">
  <%= image_tag "/assets/breakdancekids.jpg" ,  :class => "img-responsive" %>
  <div class="overlay">
    <div id="bheadline"><h3>Breakdance.</h3></div>
  </div>

</div>

<div class="page-header">
  <h1>Singles</h1>


  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag("/assets/breakdancing.jpg", :border => 1,:class => "img-responsive" ), marketplace_breakdancing_path   %>
        <div align="left" class="caption ">
          <h3 class="vidTitle">Windmills SF</h3>
          <p>
          Learn how to do windmills.<br>
          Price: $15<br>
          By Jerome Aparis
          </p>
      </div>
        <div align="right">
          <%= link_to "View", marketplace_breakdancing_path,  :class=>"btn btn-primary", "data-role" => "button" %>
        </div>
      </div>
    </div>
  </div>


</div>

<div class="page-header">
  <h1>Packages</h1>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag("/assets/breakdancing.jpg", :border => 1,:class => "img-responsive" ), marketplace_breakdancing_path   %>
        <div align="right" class="caption ">
          <h3>Breakdancing </h3>
          <%= link_to "View", marketplace_breakdancing_path,  :class=>"btn btn-primary", "data-role" => "button" %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag("/assets/waltz.jpg", :border => 1,:class => "img-responsive" ), marketplace_breakdancing_path   %>
        <div align="right" class="caption">
          <h3>Waltz</h3>
          <%= link_to "View", marketplace_breakdancing_path,  :class=>"btn btn-primary", "data-role" => "button" %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="page-header">
  <h1>Subscription</h1>

  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag("/assets/breakdancing.jpg", :border => 1,:class => "img-responsive" ), marketplace_breakdancing_path   %>
        <div align="right" class="caption ">
          <h3>Breakdancing </h3>
          <%= link_to "View", marketplace_breakdancing_path,  :class=>"btn btn-primary", "data-role" => "button" %>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="page-header">
  <h1>Seminar / Workshops</h1>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag("/assets/breakdancing.jpg", :border => 1,:class => "img-responsive" ), marketplace_breakdancing_path   %>
        <div align="right" class="caption ">
          <h3>Breakdancing </h3>
          <%= link_to "View", marketplace_breakdancing_path,  :class=>"btn btn-primary", "data-role" => "button" %>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag("/assets/waltz.jpg", :border => 1,:class => "img-responsive" ), marketplace_breakdancing_path   %>
        <div align="right" class="caption">
          <h3>Waltz</h3>
          <%= link_to "View", marketplace_breakdancing_path,  :class=>"btn btn-primary", "data-role" => "button" %>
        </div>
      </div>
    </div>
  </div>
</div>

