<!DOCTYPE html>
<html>
<head>

  <title>Rock Solo - Creative Learning Platform</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

</head>

<body>

<div class="snap-drawers" style="position: absolute">

  <div id="lContent" class="snap-drawer snap-drawer-left">

    <ul class="list-group">


      <% if user_signed_in? %>
      <li class="list-group-item">
        <%= link_to edit_user_registration_path, :class => "button small-button green-button" do %>
            <span class ="glyphicon glyphicon-off"> </span> <%= current_user.email %>
        <% end %>
      </li>

      <li class="list-group-item">
        <%= link_to edit_user_registration_path, :class => "button small-button green-button" do %>
            <span class ="glyphicon glyphicon-envelope"> </span> Inbox
        <% end %>
      </li>

      <li class="list-group-item">
        <%= link_to edit_user_registration_path, :class => "button small-button green-button" do %>
            <span class ="glyphicon glyphicon-user"> </span> Friends
        <% end %>
      </li>

      <% else %>
          <li class="list-group-item">
            <%= link_to new_user_registration_path, :class => "button small-button green-button" do %>
                <span class ="glyphicon glyphicon-user"> </span> Sign Up!
            <% end %>
          </li>


            <li class="list-group-item">
              <%= link_to new_user_session_path, :class => "button small-button green-button" do %>
                  <span class ="glyphicon glyphicon-off"> </span> Login
              <% end %>
              </li>
      <% end %>

      <% if user_signed_in? %>
          <li class="list-group-item">
            <%= link_to marketplace_path, :class => "button small-button green-button" do %>
              <li class="list-group-item"><span class ="glyphicon glyphicon-book"></span> My Courses
                <span class="badge">2</span>
          <% end %>
          </li>

      <% else %>

      <% end %>


      <% if user_signed_in? %>
      <li class="list-group-item">
        <%= link_to marketplace_path, :class => "button small-button green-button" do %>
              <span class ="glyphicon glyphicon-eye-open"> </span> Browse
        <% end %>
      </li>

      <% else %>

          <li class="list-group-item">
            <%= link_to marketplace_path, :class => "button small-button green-button" do %>
              <li class="list-group-item"><span class ="glyphicon glyphicon-eye-open"> </span> Browse</li>
            <% end %>
          </li>

      <% end %>



      <li class="list-group-item">
        <%= link_to marketplace_path, :class => "button small-button green-button" do %>
            <span class ="glyphicon glyphicon-road"> </span> Discover
        <% end %>
      </li>


      <li class="list-group-item">
        <%= link_to marketplace_path, :class => "button small-button green-button" do %>
          <li class="list-group-item"><span class ="glyphicon glyphicon-globe"> </span> Community</li>
      <% end %>
      </li>
      <li class="list-group-item">
        <%= link_to marketplace_path, :class => "button small-button green-button" do %>
            <span class ="glyphicon glyphicon-calendar"> </span> Events
        <% end %>
      </li>
      <li class="list-group-item">
        <%= link_to marketplace_path, :class => "button small-button green-button" do %>
            <span class ="glyphicon glyphicon-camera"> </span> Livestream Seminars
        <% end %>
      </li>







      <li class="list-group-item">
        <%= link_to marketplace_path, :class => "button small-button green-button" do %>
          <li class="list-group-item"><span class ="glyphicon glyphicon-wrench"> </span> Support</li>
        <% end %>
      </li>

      <li class="list-group-item">
        <%= link_to marketplace_path, :class => "button small-button green-button" do %>
          <span class ="glyphicon glyphicon-info-sign"> </span> About
        <% end %>
      </li>




    <% if user_signed_in? %>

      <li class="list-group-item">
          <%= link_to destroy_user_session_path, method: :delete, :class => "button small-button green-button" do %>
            <span class ="glyphicon glyphicon-off"> </span> Logout</li>
          <% end %>
      </li>

    <% else %>

    <% end %>

    </ul>



    <!-- Left Drawer Content -->
  </div>

  <div id="rContent" class="snap-drawer snap-drawer-right">
    <!-- Right Drawer Content -->
    <li align="center" class="list-group-item">
      <%= link_to edit_user_registration_path, :class => "button small-button green-button" do %>
          <h3>Justin Wu</h3>
      <% end %>
      <%= link_to image_tag("/assets/profile.jpg", :border => 1,:class => "circular img-responsive" ),  edit_user_registration_path   %>
      <br>
      Seattle, WA
    </li>

    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Achievements</div>
      <div class="panel-body">

        Breakdancing - Level 6
        <div class="progress">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
            <span class="sr-only">40% Complete (success)</span>
          </div>
        </div>

        Salsa - Level 2
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
              <span class="sr-only">40% Complete (success)</span>
            </div>
        </div>

      </div>

      <div class="panel-heading">Showcase</div>
      <div class="panel-body container">
        <iframe width="853" height="480" src="//www.youtube.com/embed/HzEZbXX8R4I" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>






  </div>

</div>

<div id="content" class="snap-content">
  <%= render "layouts/header" %>
  <div id="toolbar">

    <!-- Toolbar Content -->

  </div>

  <div id="mBody" class="container">

    <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
    <% end %>

    <%= yield %>

  </div>




</div>


<script>

    $(function() {
        var snapper = new Snap({
            element: document.getElementById('content')
        });

        var openleftside = function openleftside(element, eventName, func) {
            if (element.addEventListener) {
                return element.addEventListener(eventName, func, false);
            } else if (element.attachEvent) {
                return element.attachEvent("on" + eventName, func);
            }
        };

        openleftside(document.getElementById('open-left'), 'click', function () {
            if (snapper.state().state == "left") {
                snapper.close();
            } else {
                snapper.open('left');
            }
        });


        var openrightside = function openrightside(element, eventName, func) {
            if (element.addEventListener) {
                return element.addEventListener(eventName, func, false);
            } else if (element.attachEvent) {
                return element.attachEvent("on" + eventName, func);
            }
        };

        openrightside(document.getElementById('open-right'), 'click', function () {
            if (snapper.state().state == "right") {
                snapper.close();
            } else {
                snapper.open('right');
            }
        });

    });

    $(document).ready(function(){
        // Target your .container, .wrapper, .post, etc.
        $(".container").fitVids();
    });
</script>
</body>
</html>
